* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* PROMOCIONES */
.promociones {
    background: #f4f4f4;
    padding: 40px;
    text-align: center;
}

    .promociones h2 {
        background: #5a2d0c;
        color: white;
        padding: 10px;
    }

.promo-banner img {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #fff;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
}

    .card h3 {
        background: orange;
        padding: 8px;
        color: white;
    }

    .card img {
        width: 100%;
        margin: 10px 0;
    }

    .card button {
        background: #333;
        color: white;
        padding: 8px 15px;
        border: none;
        cursor: pointer;
    }

/* APP */
.app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5a2d0c;
    color: white;
    padding: 40px;
}

.app-text {
    width: 50%;
}

.app-img img {
    width: 500px;
    height: auto
}

/* CONTACTO */
.contacto {
    background: #111;
    color: white;
    padding: 40px;
}

    .contacto h2 {
        text-align: center;
        margin-bottom: 30px;
    }

.contact-container {
    display: flex;
    justify-content: space-between;
}

form {
    width: 45%;
    display: flex;
    flex-direction: column;
}

    form input,
    form textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: none;
    }

    form button {
        background: orange;
        border: none;
        padding: 10px;
        cursor: pointer;
        color: white;
    }

.info {
    width: 45%;
}
